.about {
  width: 100%;
  padding: 100px 6% 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  color: #34563D;
  text-align: center;
  letter-spacing: 0.1em;
}

.quote {
  font-family: Noto Serif CJK TC;
  margin-top: 50px;
  max-width: 800px;
  width: 100%;
  padding: 40px 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 0.13em;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.content {
  padding-top: 50px;
  font-size: 20px;
  color: #343434;
  line-height: 240%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.13em;
}

.readMore {
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 20px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #34563D;
  border: 1.5px solid #34563D;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

.readMore:hover,
.readMore:active {
  color: #fff;
  border: 1.5px solid #34563D;
  background-color: #34563D;
}

@media screen and (max-width:768px) {
  .about {
    padding-top: 80px;
  }

  .title {
    font-size: 36px;
  }

  .quote {
    font-size: 20px;
  }

  .content {
    font-size: 16px;
  }

  .readMore {
    font-size: 18px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width:425px) {
  .about {
    padding-top: 60px;
  }

  .title {
    font-size: 30px;
  }

  .quote {
    padding: 20px 0;
    margin-top: 35px;
    font-size: 16px;
  }

  .content {
    font-size: 14px;
    padding-top: 30px;
  }

  .readMore {
    font-size: 16px;
    margin-bottom: 60px;
  }
}