.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  padding: 2% 6%;
  transition: padding-top .2s;
  background-color: #F4F0E9;
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo img:first-of-type {
  max-width: 253px;
  height: auto;
  cursor: pointer;
}

.logo hr:first-of-type {
  width: 2px;
  height: 46px;
  margin: 0 15px;
  border: 0;
  background-color: #241200;
}

.logoText {
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vw;
}

.navbar>div {
  width: 144px;
  height: 24px;
  justify-content: center;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navbar>div>a {
  font-weight: 300;
  font-size: 16px;
  color: #241200;
}

.navbar>div:hover>a,
.navbar>div:active>a,
.navbar>.pageActive>a {
  font-weight: 500;
  color: #044b24;
}

.hamburger {
  display: none;
  z-index: 1;
}

.deco {
  display: none;
}

.r {
  display: none;
}


@media screen and (max-width: 1000px) {
  .logo img:first-of-type {
    max-width: 200px;
    height: auto;
    cursor: pointer;
  }

}

@media screen and (max-width: 768px) {
  .header {
    padding: 2% 6%;
  }

  .container {
    height: 70px;
    align-items: center;
  }

  .logo {
    flex-direction: row;
    align-items: center;
  }

  .logo img:first-of-type,
  .logo hr:first-of-type {
    height: 35px;
  }

  .navbar {
    display: none;
  }

  .r {
    display: flex;
  }

  .hambuger {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 25px;
  }

  .hambuger>span:first-child {
    background-color: #532900;
    height: 2px;
    width: 100%;
    margin: 3px 0;
    border-radius: 20px;
  }

  .hambuger>span:last-child {
    background-color: #532900;
    height: 2px;
    width: 70%;
    margin: 3px 0;
    border-radius: 20px;
  }

  .header.active {
    display: relative;
  }

  .containerActive {
    transition: 0.5s;
    height: 100%;
    background-color: #F8F8F6;
    flex-wrap: wrap;
    justify-content: unset;
    align-items: flex-start;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 20px;
  }

  .header.active .hambuger {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    height: 25px;
  }

  .header.active .hambuger>span {
    background-color: #532900;
    position: absolute;
    transition: 0.5s;
  }

  .header.active .hambuger>span:first-child {
    top: 10px;
    transform: rotate(45deg);
  }

  .header.active .hambuger>span:last-child {
    top: 10px;
    transform: rotate(-45deg);
    width: 100%;
  }

  .header.active .navbar {
    position: absolute;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: none;

  }

  .header.active .navbar:first-of-type {
    top: 25%;
    left: 0;
  }

  .header.active .navbar:last-of-type {
    top: 39%;
    left: 0;
  }

  .header.active .navbar>div {
    width: 100%;
    margin: 15px 0;
    border: none;
  }

  .header.active div a {
    font-size: 20px;
    font-weight: 300;
  }

  .header.active div a:active {
    font-weight: 500;
    border: none;
  }

  .header.active div a:active::after {
    content: '';
    display: block;
    width: 40px;
    margin: 2px auto 0;
    border-top: 2px solid rgba(83, 41, 0, 0.2);
  }

  .header.active .deco {
    display: block;
    z-index: -1;
    position: absolute;
    right: -10%;
    bottom: -15%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 2% 6%;
  }

  .hambuger {
    margin-right: 10px;
  }

  .logo img:first-of-type {
    height: 36px;
  }

  .logoText {
    font-size: 20px;
  }

}