.poemContainer {
  display: flex;
  justify-content: center;
  padding: 0 4%;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 48px;
  letter-spacing: 0.07em;
  font-weight: 500;
}

.back {
  font-family: Noto Serif CJK TC;
  font-size: 21px;
  color: #504F4F;
  font-weight: 300;
  letter-spacing: 0.13em;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.back:hover {
  color: #F4F0E9;
  background-color: #504F4F;
  border: 1px solid #504F4F;
}

.poems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  font-size: 36px;
  font-weight: 500;
}

.line {
  max-width: 360px;
  width: 30%;
  height: 1px;
  background-color: #737373;
  border: 0;
  margin-top: 1.5%;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn {
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn img {
  max-width: 38px;
  margin-right: 5px;
}

.btn span {
  font-size: 20px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.image {
  width: calc((100% / 3) - 15px);
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.image:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .back {
    font-size: 16px;
  }

  .section {
    font-size: 28px;
    font-weight: 500;
  }

  .line {
    max-width: 300px;
    width: 25%;
    height: 1px;
  }

}

@media screen and (max-width: 425px) {
  .image {
    width: calc(95%);
    margin: 5px;
    cursor: pointer;
  }

  .title {
    font-size: 30px;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .back {
    font-size: 14px;
  }

  .section {
    font-size: 24px;
  }
}